.container {
  display: flex;
  height: 90vh; /* Ocupa 100% da altura da viewport */
}

.image-area {
  flex: 7; /* Ocupa 70% da largura */
  position: relative;
  border: 4px solid black;
  overflow: hidden;
  background-color: #f0f0f0;
}

.sidebar {
  flex: 3; /* Ocupa 30% da largura */
  padding: 10px;
  border-left: 1px solid black;
  background-color: #fff;
}

.controls {
  margin-bottom: 20px;
}
/* Fase1.css */

.container {
  display: flex;
}

.sidebar {
  width: 30%;
  padding: 20px;
  position: relative;
}

.image-area {
  width: 70%;
  height: 500px; /* Ajuste conforme necessário */
  position: relative;
  overflow: hidden;
}

.time-taken {
  font-size: 18px;
  font-weight: bold;
  color: green;
  margin-bottom: 20px;
}
