.container {
  display: flex;
  height: 90vh; /* Ocupa 100% da altura da viewport */
}

.image-area {
  flex: 7; /* Ocupa 70% da largura */
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  background-color: #f0f0f0;
}

.sidebar {
  flex: 3; /* Ocupa 30% da largura */
  padding: 10px;
  border-left: 1px solid black;
  background-color: #fff;
}

.controls {
  margin-bottom: 20px;
}
